@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lexend', sans-serif;
    background-color: #121212;
}

.theme_blackred{
    background: linear-gradient(to right, #121212 45%, #54151C); 
}

