@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend', sans-serif;
  background-color: #ffffff;
  position: relative;
}

.theme_blackred {
  background: linear-gradient(to right, #121212 45%, #54151c);
}
.theme_blackred2 {
  background: linear-gradient(323deg, #690710 5.42%, #000 83.8%);
}
.theme_gray {
  background-color: #f7f7f7;
  border: 1px solid #cbcbcb;
}
.theme_gray_no_border {
  background-color: #f7f7f7;
}
.ant-modal-body {
  padding: 20px !important;
}
