@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lexend', sans-serif;
    background-color: #ffffff;
}

.theme_blackred{
    background: linear-gradient(to right, #121212 45%, #54151C); 
}

.theme_gray{
    background-color: #F7F7F7;
    border: 1px solid #cbcbcb;
}
.theme_gray_no_border{
    background-color: #F7F7F7;
}